@for(user of users(); track $index) {
  <div>{{ user.name }}</div>
} @empty {
  <div>We don't have anything</div>
}

<br>

@if (user.role === 'developer') {
  <div>Developer</div>
}
@else if (user.role === 'admin') {
  <div>Admin</div>
}
@else {
  <div>QA</div>
}

<br>

@switch (user.role) {
  @case ('developer') {
    <div>Developer</div>
  }
  @case ('admin') {
    <div>Admin</div>
  }
  @case ('qa') {
    <div>QA</div>
  }
}

<br>

@defer { <!-- (on idle) - default wait until full page loaded -->
  <div>Defer - on idle</div>
}
@loading (after 150ms; minimum 150ms) {
  <div>Loading..</div>
}
@placeholder (minimum 150ms) {
  <div>Placeholder</div>
}
@error {
  <div>Error</div>
}

<br>

@defer (on interaction) { <!-- (on interaction) - render only after interaction -->
  <div>Defer - on interaction</div>
}
@loading (after 150ms; minimum 150ms) {
  <div>Loading..</div>
}
@placeholder (minimum 150ms) {
  <div>Placeholder</div>
}
@error {
  <div>Error</div>
}

<br>

@defer (on hover) { <!-- (on hover) - render only after hover -->
  <div>Defer - on hover</div>
}
@loading (after 150ms; minimum 150ms) {
  <div>Loading..</div>
}
@placeholder (minimum 150ms) {
  <div>Placeholder</div>
}
@error {
  <div>Error</div>
}

<br>

@defer (on immediate) { <!-- (on immediate) - render as soon as possible -->
  <div>Defer - on immediate</div>
}
@loading (after 150ms; minimum 150ms) {
  <div>Loading..</div>
}
@placeholder (minimum 150ms) {
  <div>Placeholder</div>
}
@error {
  <div>Error</div>
}

<br>

@defer (on timer(2000)) { <!-- (on timer(2000)) - render as soon as possible -->
  <div>Defer - on timer(2000)</div>
}
@loading (after 150ms; minimum 150ms) {
  <div>Loading..</div>
}
@placeholder (minimum 150ms) {
  <div>Placeholder</div>
}
@error {
  <div>Error</div>
}

<br>

@defer (on hover; on timer(20000)) { <!-- You can combine triggers -->
  <div>Defer - combining triggers</div>
}
@loading (after 150ms; minimum 150ms) {
  <div>Loading..</div>
}
@placeholder (minimum 150ms) {
  <div>Placeholder</div>
}
@error {
  <div>Error</div>
}

<br>

<button (click)="isVisible=true">Show</button>
<button (click)="prefetchCondition=true">Load</button>
@defer (when isVisible; prefetch when prefetchCondition) { <!-- (when isVisible) - render when...; (prefetch when prefetchCondition) - load when... -->
  <div>Defer - when & prefetch when prefetchCondition</div>
}
@loading (after 150ms; minimum 150ms) {
  <div>Loading..</div>
}
@placeholder (minimum 150ms) {
  <div>Placeholder</div>
}
@error {
  <div>Error</div>
}

<br>

<button (click)="isVisible=true">Show</button>
@defer (when isVisible; prefetch on idle) { <!-- (when isVisible) - render when...; (prefetch when idle) - load when enough resources -->
  <div>Defer - when & prefetch on idle </div>
}
@loading (after 150ms; minimum 150ms) {
  <div>Loading..</div>
}
@placeholder (minimum 150ms) {
  <div>Placeholder</div>
}
@error {
  <div>Error</div>
}

<br>

<div>Content</div>
<div>Content</div>
<div>Content</div>
<div>Content</div>
<div>Content</div>
<div>Content</div>
<div>Content</div>
<div>Content</div>
<div>Content</div>
<div>Content</div>
<div>Content</div>
<div>Content</div>

<br>

@defer (on viewport) { <!-- (on viewport) - render only after it comes to viewport -->
  <app-child></app-child>
}
@loading (after 150ms; minimum 150ms) {
  <div>Loading..</div>
}
@placeholder (minimum 150ms) {
  <div>Placeholder</div>
}
@error {
  <div>Error</div>
}

<router-outlet></router-outlet>